{% load static %}
<body>
  <footer  id="footer" >
    <div class="row">
      <div class="col-3">
        <strong> Kyiv 2023 by Mykola Zakharov</strong>
      </div>
      <div class="col-3">
        <strong>
          <a class="nav-link active text-dark btn-zkh nav__link" aria-current="page" href="https://github.com/KolyaZakharov"  target="_blank">
            <img src="{% static 'img/github.png' %}" alt="github" height="36px">
            github
          </a>
        </strong>
      </div>
      <div class="col-3">
        <strong>
          <a class="nav-link active text-dark btn-zkh nav__link" aria-current="page" href="https://www.instagram.com/zakharov7174"  target="_blank">
            <img src="{% static 'img/instagram.png' %}" alt="github" height="36px">
            instagram
          </a>
        </strong>
      </div>
      <div class="col-3">
        <strong>
          <div >
            <img src="{% static 'img/telegram.png' %}" alt="github" height="36px">
            +380632945214
          </div>
        </strong>
      </div>

    </div>



  </footer>
</body>
