{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Cook list
    <a class="btn btn-primary" href="{% url 'restaurant_kitchen:cook-create' %}">
      Create
    </a>
  </h1>
  <form class="form-inline" action="" method="get">
    <input class="btn btn-info" type="submit" value="🔎">
    {{ search_form|crispy }}

  </form>
  {% if cook_list %}
  <ul>
    {% for cook in cook_list %}
    <li>
      <a href="{% url 'restaurant_kitchen:cook-detail' pk=cook.id %}">
        {{cook.username}}
      </a>
      ({{cook.first_name}} {{ cook.last_name }})
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>The are no cooks in cook list</p>
  {% endif %}
{% endblock %}