{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish list
    <a class="btn btn-primary" href="{% url 'restaurant_kitchen:dish-create' %}">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
      <input  class="btn btn-info"type="submit" value="🔎">
      {{ search_form|crispy }}
  </form>
  {% if dish_list %}
  <ul>
    {% for dish in dish_list %}
    <li>
      <a href="{% url 'restaurant_kitchen:dish-detail' pk=dish.id %}">{{dish.name}}</a>
      (price:{{dish.price}} type: {{ dish.dish_type }})
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>The are no dish in dish-list</p>
  {% endif %}
{% endblock %}