{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish type list
    <a href="{% url 'restaurant_kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <div>
    {% include "includes/search_form.html" %}
  </div>
  {% if dish_type_list %}
    {% for dishtype in dish_type_list %}
        <ul>
          <li>
            <a href="{% url 'restaurant_kitchen:dish-type-detail' pk=dishtype.id %}">
              {{ dishtype }}
            </a>
          </li>
        </ul>
    {% endfor %}
  {% else %}
    <p>The are no types of dish </p>
  {% endif %}


{% endblock %}