{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dishtype }}
    <a class="btn btn-primary" href="{% url 'restaurant_kitchen:dish-type-update' pk=dishtype.id %}">
      update
    </a>
    <a class="btn btn-danger" href="{%  url 'restaurant_kitchen:dish-type-delete' pk=dishtype.id %}">
      Delete
    </a>
  </h1>
    <div class="ml-4">
        {% for dish in dishtype.dish_set.all %}
          <ul>
            <li>
              {{ dish.name }}
            </li>
          </ul>
        {% empty %}
          <strong>There are no dishes of this type yet</strong>
        {% endfor %}

    </div>
{% endblock %}